$fontOldStandard: 'Old Standard TT', serif;
$fontLato: 'Lato', sans-serif;
$fontLobster: 'Lobster', cursive;

$colorOrange: #F15A2D;
$colorWhite: #FFFFFF;
$colorBlue: #133342;
$lightGray: #d3d3d3;
$colorReadingText: #6d6d6d;