{% set cache = random(9999999) %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Langland | Admin{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

</head>
<body>
<div id="vue_admin">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {% set cacheClear = 'random'~random(999999) %}
    <script src={{ asset("admin/dist/build.js?"~cacheClear) }}></script>
{% endblock %}

</body>
</html>