<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Langland{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="vue_app">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            {% set cacheClear = 'random'~random(999999) %}
            <script src={{ asset("dist/build.js?"~cacheClear) }}></script>
        {% endblock %}
    </body>
</html>
